{% extends "base.html" %}
{% load static %}
{% comment %} {% block title %}
<title>Set a new password</title>
{% endblock %} {% endcomment %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/reset_confirm.css' %}" />
{% endblock %}
{% block content %}
<main>
 <h1>Set a new password!</h1>
      <form method="POST" class="password-confirm-form">
        {% csrf_token %}
          {{ form }}
        <input type="submit" value="Change my password" class="password-confirm-btn" />
      </form>
</main>
{% endblock content %}      