main {
    width: 50%;
    margin: 50px auto;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

main h1 {
    text-align: center;
    font-size: 25px;
}

.add-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.add-form input[type="text"],
.add-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.add-submit-btn {
    background: #007bff;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.add-submit-btn:hover {
    background: #0056b3;
}
