{% extends "base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" />
{% endblock %}
{% block content %}
<main>
  <h1>Home Page</h1>
  <div class="container">
    {% for post in post_list %}
    <div class="card">
      <h3>{{post.title}}</h3>
      <p>{{post.body}}</p>
      <div class="author">Author- {{post.author}} {{post.date}}</div>
      <div class="blog-view">
        <a href="{% url "blog_detail" post.pk %}">
         <button class="more-details">view more</button>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</main>
{% endblock content %}